/* This sheet contains rules/mixins for device specific sizes
 */

@charset "UTF-8";

$index-width:  1200px;
$width:        1000px;
$width-4k:     2000px;

$tab-padding:     122px;
$content-padding: 122px;

$tab-padding-4k:     calc((100vw - (#{$width-4k})) / 2);
$content-padding-4k: calc((100vw - (#{$width-4k} - 40px)) / 2);

$media-4k:     "(min-width: #{$width-4k})";
$media-fit:    "(max-width: #{$width})";
$media-wide:   "(max-width: 950px)";
$media-tablet: "(max-width: 600px)";
