/* Styles dropdown menus */

.dropdown-menu {
  position: relative;
  outline: none;

  &:focus {
    outline: none;
  }

  & > a {
  }

  & > ul.dropdown-menu-options {
    outline: none;
    display: none;
    position: absolute;
    right: 0;
    margin-top: -2px;
    padding-right: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #111;

    &:focus {
      outline: none;
    }

    &:after{
      outline: none;
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 6px;
      top: -5px;
      background-color: white;
      transform: rotateZ(45deg);
      box-shadow: 0px 0px 3px 1px #111;
    }

    li {
      width: calc(100% + 20px);
      position: relative;
      background-color: white;
      z-index: 999;
      display: block;
      padding: 0;
      text-align: left;

      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        padding-top: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        padding-bottom: 5px;
      }

      &.separator {
        margin-top: 5px;
        margin-bottom: 5px;

        background-color: white;
        height: 1px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }

      a {
        display: inline-block;
        padding: 4px 8px;
        width: calc(100% - 16px);
        height: 2em;
        line-height: 2em;
        color: #222;
        vertical-align: middle;
        text-decoration: none;

        &:hover {
          background-color: $tab-inactive-bg;
          color: $tab-inactive-color;
        }
      }
    }
  }

  &:focus > ul.dropdown-menu-options {
    display: block;
  }
}
