/* This file contains the paths for all of the icons on the system.
 *
 * The header icons inside the circles... those icons are listed first.
 * Followed by the icons for different metadata fields and subheaders.
 */

@charset "UTF-8";

/* Header Icons */

.content .information > .object > h2.large-icon, // Header icons
.large-icon,              // All instances that wish to pull an icon out
.container-content.icon { // Workflow graph icons
  &:not(.container-content), &:after {
    background-image: url('/images/icons/object_large.svg');
  }

  &.system {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/occam_large.png');
    }
  }

  &.search {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/icons/search.svg');
    }
  }

  &.login {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/login.svg');
    }
  }

  &.test {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/icons/test.svg');
    }
  }

  &.error {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/error_large.png');
    }
  }

  &.import {
    &:not(.container-content), &:after {
      background-image: url('/images/import_large.png');
    }
  }

  &.object, &[data-object-type=object] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/object_large.svg');
    }
  }

  &.qrcode {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/qrcode.svg');
    }
  }

  // Actions

  &.action {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }

  &.action.fork {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/fork.svg');
    }
  }
}

/* Metadata Icons */
h2.icon,
li.tab a.icon {
  /* Default */
  & {
    background-image: url('/images/object.png');
  }

  &.uuid {
    background-image: url('/images/uuid.png');
  }

  &.list-view {
    background-image: url('/images/icons/list-view.svg');
  }

  &.list-preview {
    background-image: url('/images/icons/list-preview.svg');
  }

  &.progress {
    background-image: url('/images/progress.png');
  }

  &.experiment {
    background-image: url('/images/experiment.png');
  }

  &.newTab {
    background-image: url('/images/new_tab.svg');
  }

  &.task {
    background-image: url('/images/generic.png');
  }

  &.repository {
    background-image: url('/images/repository.png');
  }

  &.revision {
    background-image: url('/images/revision.png');
  }

  &.object {
    background-image: url('/images/object.png');
  }

  &.object[data-object-type="application/json"] {
    background-image: url('/images/application_json.png');
  }

  &.clonedFrom {
    background-image: url('/images/clonedFrom.png');
  }

  &.history {
    background-image: url('/images/history.png');
  }

  &.qrcode {
    background-image: url('/images/ui/qrcode.svg');
  }

  &.time {
    background-image: url('/images/history.png');
  }

  &.website {
    background-image: url('/images/website.png');
  }

  &.generator {
    background-image: url('/images/generator.png');
  }

  &.authors {
    background-image: url('/images/authors.png');
  }

  &.collaborators {
    background-image: url('/images/collaborators.png');
  }

  &.configuration {
    background-image: url('/images/configuration.png');
  }

  &.script_path {
    background-image: url('/images/object.png');
  }

  &.binary_path {
    background-image: url('/images/code.png');
  }

  &.script {
    background-image: url('/images/code.png');
  }

  &.environment {
    background-image: url('/images/environment.png');
  }

  &.architecture {
    background-image: url('/images/architecture.png');
  }

  &.inputs {
    background-image: url('/images/inputs.png');
  }

  &.outputs {
    background-image: url('/images/outputs.png');
  }

  &.perma-link {
    background-image: url('/images/icons/url.svg');
  }

  &.embed-link {
    background-image: url('/images/icons/embed-url.svg');
  }

  &.license {
    background-image: url('/images/license.png');
  }

  &.group {
    background-image: url('/images/group.png');
  }

  &.workset {
    background-image: url('/images/workset.png') !important;
  }

  &.occam {
    background-image: url('/images/icons/occam.png');
  }

  &.javascript {
    background-image: url('/images/icons/javascript.png');
  }

  &.any {
    background-image: url('/images/icons/any.png');
  }

  &.docker {
    background-image: url('/images/icons/docker.png');
  }

  &.aptlab {
    background-image: url('/images/aptlab.png');
  }

  &.ec2 {
    background-image: url('/images/ec2.png');
  }

  &.paper {
    background-image: url('/images/icons/paper.svg');
  }

  &.page {
    background-image: url('/images/icons/page.svg');
  }

  &.volume {
    background-image: url('/images/icons/volume.svg');
  }
}

/* File/Directory Icons */

/* webkit will not allow me to apply this to the li.group
 * since it will apply it oddly to every table-cell */
table.directory tr.group > td:first-child {
  background-image: url('/images/group.png');
}

table.directory tr.group.git > td:first-child {
  background-image: url('/images/icons/group_repository.png');
}

table.directory tr.workset > td:first-child {
  background-image: url('/images/workset.png');
}

table.directory tr.row > td.icon:first-child {
  &.object {
    background-image: url('/images/object.png');
  }
}

table.directory tr.row > td.icon:first-child {
  &.paper {
    background-image: url('/images/icons/paper.svg');
  }
}

table.directory tr.row > td.icon:first-child {
  &.page {
    background-image: url('/images/icons/page.svg');
  }
}

table.directory tr.row > td.icon:first-child {
  &.volume {
    background-image: url('/images/icons/volume.svg');
  }
}

table.directory tr.experiment > td:first-child {
  background-image: url('/images/experiment.png');
}

table.directory tr.newTab > td:first-child {
  background-image: url('/images/new_tab.svg');
}

table.directory tr.object > td:first-child {
  background-image: url('/images/object.png');
}

table.directory tr.file > td:first-child {
  background-image: url('/images/file.png');
}

/* File/Directory Icons: MIME Types */
table.directory tr.file.mime-image > td:first-child {
  background-image: url('/images/file-image.png');
}

table.directory tr.file.mime-image.mime-gif > td:first-child {
  background-image: url('/images/file-gif.png');
}

table.directory tr.file.mime-image.mime-png > td:first-child {
  background-image: url('/images/file-image-png.png');
}

table.directory tr.file.mime-image.mime-jpeg > td:first-child {
  background-image: url('/images/file-image-jpg.png');
}

table.directory tr.file.mime-image.mime-bmp > td:first-child {
  background-image: url('/images/file-image-bmp.png');
}

table.directory tr.file.mime-application.mime-json > td:first-child {
  background-image: url('/images/file-brackets.png');
}

table.directory tr.file.mime-application.mime-x-python > td:first-child {
  background-image: url('/images/file-application-x-python.png');
}

table.directory tr.file.mime-application.mime-x-c > td:first-child ,
table.directory tr.file.mime-text.mime-x-c > td:first-child {
  background-image: url('/images/file-application-x-c.png');
}

/* Object Icons */

.large-icon,
.icon {
  &[data-object-type] {
    background-image: url('/images/icons/object_large.svg');
    background-repeat: no-repeat;
  }

  &[data-object-type=audio] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/audio.svg');
    }
  }

  &[data-object-type=album] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/album.svg');
    }
  }

  &[data-object-type=configuration] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/configuration.svg');
    }
  }

  &[data-object-type=player] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/player.svg');
    }
  }

  &[data-object-type=graph] ,
  &[data-object-type=plotter] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/graph_large.svg');
    }
  }

  &[data-object-type=emulator] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/emulator.svg');
    }
  }

  &[data-object-type=viewer] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/viewer_large.svg');
    }
  }

  &[data-object-type=application] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/application.svg');
    }
  }

  &[data-object-type=installer] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/installer.svg');
    }
  }

  &[data-object-type=paper] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/paper_large.svg');
    }
  }

  &[data-object-type=game] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/game_large.svg');
    }
  }

  &[data-object-type=occam-git] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/repository_large.svg');
    }
  }

  &[data-object-type=application-json] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/application_json_large.svg');
    }
  }

  &[data-object-type=configurator] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/configurator_large.svg');
    }
  }

  &[data-object-type=group] {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/group_large.png');
    }
  }

  &[data-object-type=workset] {
    &:not(.container-content), &:after {
      background-image: url('/images/workset_large.png');
    }
  }

  &[data-object-type=font] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/font_large.svg');
    }
  }

  &[data-object-type=experiment] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/experiment_large.svg');
    }
  }

  &[data-object-type=trace] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/trace.svg');
    }
  }

  &[data-object-type=collection] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/collection.svg');
    }
  }

  &[data-object-type=bootstrap] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/bootstrap.svg');
    }
  }

  &[data-object-type=python-library] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/python-library.svg');
    }
  }

  &[data-object-type=jupyter-notebook] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/jupyter-notebook.svg');
    }
  }

  &[data-object-type=perl-module] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/perl-module.svg');
    }
  }

  &[data-object-type=framework] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/framework.svg');
    }
  }

  &[data-object-type=r-script] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/r-script.svg');
    }
  }

  &[data-object-type=data] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/data.svg');
    }
  }

  &[data-object-type=simulator] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/simulator_large.svg');
    }
  }

  &[data-object-type=benchmark] {
    &:not(.container-content), &:after {
      background-image: url('/images/benchmark_large.png');
    }
  }

  &[data-object-type=workflow] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/workflow.svg');
    }
  }

  &[data-object-type=compiler] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/compiler.svg');
    }
  }

  &[data-object-type=docker-environment] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/docker-environment.svg');
    }
  }

  &[data-object-type=demo] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/demo.svg');
    }
  }

  &[data-object-type=library] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/library.svg');
    }
  }
}
