/* Runs Listing */

@charset "UTF-8";

$right-panel-transition-time: 0.6s;

.content .card .run-viewer {
  padding-left: 0  !important;
  padding-right: 0 !important;

  width: 100%;
  height: 540px;
  min-height: 540px;

  div.collapse.right {
    width: 15px;
    left: auto;
    right: 305px;
    top: 0;

    -webkit-transition: right $right-panel-transition-time;
    transition: right $right-panel-transition-time;

    &.reveal {
      background-color: white;
      box-shadow: inherit;

      width: 13px;
      border-left: 1px solid #888;
      border-right: 1px solid #888;

      right: 0px;

      -webkit-transition: right $right-panel-transition-time;
      transition: right $right-panel-transition-time;

      &:after  ,
      &:before {
        content: none;
        display: none;
      }
    }
  }

  .right-panel {
    box-shadow: 2px 0px 20px 1px #ddd;

    position: absolute;
    right: 0;
    top: 0;

    width: 305px;
    height: 100%;

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;

    border-left: 1px solid #eee;
    background-color: $side-list-bg;

    z-index: 99999;

    ul.runs {
      overflow-y: auto;

      width: 320px;
      height: 100%;

      vertical-align: top;

      position: relative;
      left: -15px;

      li {
        position: relative;
        display: block;

        > a {
          position: relative;
          display: block;
          padding-left: 50px;
          padding-right: 15px;
          border-bottom: 1px solid #eaeaea;
          background-color: $side-list-inactive-bg;
          color: $side-list-inactive-color;
          font: $side-list-font;
          z-index: 99999;
          margin-left: 15px;
          height: 48px;
          line-height: 48px;

          &:hover {
            text-decoration: none;
          }
        }

        /* Run list delete button */
        .delete {
          display: none;
          right: 10px;
          top: calc(50% - 10px);
          position: absolute;
          z-index: 99999;
        }

        .cancel {
          background-image: url('/images/ui/cancel.svg');
        }

        &.active {
          .delete {
            display: block;
          }

          > a {
            background-color: $side-list-active-bg;
            color: $side-list-active-color;
            font: $side-list-active-font;
            line-height: 48px;
          }

          &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 4px;
            border: 1px solid #eaeaea;
            top: 13px;
            z-index: 99999;
            background-color: $side-list-active-bg;
            transform: rotate(45deg);
          }
        }

        a span.status  {
          display: inline-block;
          position: absolute;

          width: 30px;
          height: 30px;

          top: calc(50% - 15px);
          left: 10px;
        }

        @keyframes pulse {
          0% {
            width: 8px;
            height: 8px;

            margin-left: 1px;
            margin-top:  1px;
          }
          50% {
            width: 4px;
            height: 4px;

            margin-left: 3px;
            margin-top:  3px;
          }
        }

        a span.status .dot {
          display: none;
          position: absolute;

          width: 8px;
          height: 8px;

          animation: 0.9s infinite alternate pulse;
          animation-delay: 0s;

          margin-left: 1px;
          margin-top:  1px;

          left: 0px;
          top:  calc(50% - 4px);

          border-radius: 15px;
          background-color: #b3b3b3;

          &:nth-child(2) {
            animation-delay: -0.6s;
            left: 10px;
          }

          &:nth-child(3) {
            animation-delay: -0.3s;
            left: 20px;
          }
        }

        &.queue {
          a span.status {
            background-image: url('/images/ui/new.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 30px 30px;
          }

          &.active {
            a span.status {
              filter: brightness(200%);
            }
          }
        }

        &[data-status=done] {
          a span.status {
            background-image: url('/images/ui/done.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 30px 30px;
          }

          &.active {
            a span.status {
              filter: brightness(200%);
            }
          }
        }

        &[data-status=failed] {
          a span.status {
            background-image: url('/images/ui/failed.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 30px 30px;
          }

          &.active {
            a span.status {
              filter: brightness(200%);
            }
          }
        }

        &[data-status=running] ,
        &[data-status=pending] {
          a span.status .dot {
            display: inline-block;
          }

          &.active {
            a span.status .dot {
              background-color: $side-list-active-color;
            }
          }
        }
      }
    }
  }

  /* Javascript widget page */
  .viewer {
    background-color: #2f2f2f;
    height: 100%;

    > .card {
      margin: auto;
    }

    .object-viewer {
      height: 100%;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }

  /* Pending queue loading page */
  .pending {
    display: flex;
    align-items: center;
    background-color: #888;
    text-align: center;

    > .card {
      margin: auto;
      border: 1px solid #9E9E9E;
      outline: 1px solid #777;

      text-align: center;

      color: #333;

      .loading {
        display: inline-block;
        width: 100px;
        height: 100px;
      }
    }
  }

  /* Runner tabs and queue form and run button */
  .run-form {
    display: flex;
    align-items: center;
    background-color: #888;
    text-align: center;

    > .card {
      margin: auto;
      background-color: #848484;
      border: 1px solid #9E9E9E;
      outline: 1px solid #777;

      .information {
        text-align: left;

        h2 {
          color: white;
          vertical-align: top;
          padding-top: 3px;
        }
      }
    }

    .widget-selection {
      input.auto-complete {
        margin-top: 0px;
        margin: 0 10px;
        width: 224px;
        padding-left: 40px;

        background-position: 10px 50%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-color: $selector-bg;
        color:            $selector-color;
        font:             $object-description-font;
      }
    }

    .buttons {
      display: inline-block;
      margin: auto;

      .button {
        margin: auto;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .right-panel[data-panel-type="queue"],
  .right-panel[data-panel-type="pending"] {
    box-shadow: 2px 0px 20px 1px #484848;
  }

  ul.workflows {
    position: absolute;

    left: 0;
    top: 0;

    occam-workflow {
      height: 100%;
      position: absolute;
    }
  }

  & > * {
    width: calc(100% - 305px);
    height: 100%;
    min-height: 540px;

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  .collapse.reveal ~ .right-panel {
    width: 0px;

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  .collapse.reveal ~ :not(.right-panel) {
    width: calc(100% - 15px);

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  .job-panel {
    ul.events {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0px;

      li.event {
        width: 100%;
        height: 48px;
      }

      @keyframes reveal-events {
        0% {
          height: 0px;
        }
        100% {
          height: 48px;
        }
      }

      @keyframes reveal-events-terminal {
        0% {
          height: calc(100% - 1px);
        }
        100% {
          height: calc(100% - 49px);
        }
      }

      &:not(:empty) {
        height: 48px;
        animation-duration: .5s;
        animation-name: reveal-events;
        border-top: 1px solid #282828;

        & + .terminal {
          animation-duration: .5s;
          animation-name: reveal-events-terminal;
          height: calc(100% - 49px);
        }
      }
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

/* Run Dropdowns */
ul.dropdown {
  li[data-class="any"] h2 {
    background-image: url('/images/icons/any.png');
  }

  li[data-class="occam"] h2 {
    background-image: url('/images/icons/occam.png');
  }

  li[data-architecture="javascript"] h2 {
    background-image: url('/images/icons/javascript.png');
  }

  li[data-backend="docker"] h2 {
    background-image: url('/images/icons/docker.png');
  }
}
