/* This styles the test viewer widget which shows the tests for an object
 * including the structure and documentation for each section.
 */

@charset "UTF-8";

.content .card > .test-viewer {
  ul.test-groups {
    h2,h3,h4,h5,h6 {
      span.type {
        font-size: 10pt;

        &:after {
          content: ")"
        }

        &:before {
          content: "("
        }
      }
    }

    &.test-describes {
    }

    &.test-features {
    }

    ul.test-groups {
      margin-left: 15px;
    }

    li.test-group {
      margin-top:  10px;

      ul.tests {
        li.test {
          padding-left: 25px;
          background-repeat: no-repeat;
          background-position: 0px -1px;

          &.passed {
            background-image: url('/images/ui/done.svg');
          }

          &.failed {
            background-image: url('/images/ui/failed.svg');
            color: red;
          }

          span.type {
          }

          span.name {
          }

          span.result {
            display: none;
          }
        }
      }
    }
  }
}

.content .card > .test-viewer .story {
  font: $test-viewer-story-font;
  color: $test-viewer-story-color;
  height: 20px;
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.content .card > .test-viewer .story[data-symbol=\.] {
  background-image: url('/images/success.png');
}

.content .card > .test-viewer .story[data-symbol=F] {
  background-image: url('/images/error.png');
}

.result .test-success {
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 1px;
  background-image: url('/images/success.png');
}

.result .test-failure {
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 1px;
  background-image: url('/images/error.png');
}
