@charset "UTF-8";

occam-workflow {
  background-image: url("/images/workflow_editor_bg.png");
  width: 100%;
  height: 600px;
  display: block;
  overflow: hidden;
  position: relative;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  svg {
    path {
      fill: $workflow-line-color;
      stroke: transparent;
      stroke-width: 10px;
      cursor: pointer;

      &:hover {
        fill: $workflow-wire-hover-color;
      }

      &.selected {
        fill: hsla(0, 100%, 71%, 1);
        stroke: hsla(0, 100%, 81%, 1);
        stroke-width: 1px;
      }
    }
  }

  &.selecting {
    cursor: crosshair;
  }

  &.moving {
    cursor: move;
  }

  > .dropdown {
    background-color: white;
    border:   1px solid $workflow-selection-border-color;
    display:  block;
    outline:  none;
    padding:  0px 0px;

    position: absolute;
    left:     0;
    top:      0;

    z-index:  999999;

    max-height: 111px;
    overflow-y: auto;

    li {
      cursor:  pointer;
      padding: 5px 10px;
      height:  27px;

      color:   #333;

      &:hover {
        background-color: $workflow-selection-color;
        color: #333;
      }

      span {
        &.type {
          display: block;
          font:    $workflow-input-type-font;
        }

        &.name {
          display: block;
          font:    $workflow-input-name-font;
        }
      }
    }

    &:active {
      outline: none;
    }
  }

  > .selection, > .debug {
    display: block;
    position: absolute;
    background-color: $workflow-selection-color; 
    z-index: 9999;
    border-radius: 5px;
    border: 1px solid $workflow-selection-border-color;
    cursor: crosshair;

    &.debug {
      background-color: rgba(256, 0, 0, 0.33);

      &.quadtree {
        background-color: rgba(256, 0, 256, 0.33);
      }
    }
  }

  ul.connections.draggable li.connection.selected {
    z-index: 99999;
  }

  ul.connections.draggable li.connection.tracking-jobs {
    @keyframes reveal {
      0% {
        opacity: 0.0;
      }
      100% {
        opacity: 1.0;
      }
    }

    .type {
      opacity: 0.0;
    }

    .icon {
      opacity: 0.0;
    }

    &:hover {
      svg {
        animation: 0.2s reverse reveal;
        opacity: 0.0;
      }

      svg {
        animation: 0.2s reverse reveal;
        opacity: 0.0;
      }

      & > .type ,
      & > .icon {
        animation: 0.2s reveal;
        opacity: 1.0;
      }
    }

    svg {
      position: absolute;
      left: 20px;
      top: 9px;

      path {
        fill: #bbb;
      }
      @keyframes running-pulse {
        0% {
          fill: #c0c0ff;
        }
        100% {
          fill: #88f;
        }
      }
      path[data-job-status="finished"] {
        fill: #82d082;
      }
      path[data-job-status="started"] {
        fill: #88f;
        animation: 1s infinite alternate running-pulse;
      }
      path[data-job-status="failed"] {
        fill: #f88;
      }
    }
  }
  
  ul.connections {
    display: block;
    position: relative;

    .input-add-button, .output-add-button, .delete-button, .bottom-button, .attach-button {
      display: none;
      border-radius: 10px;

      left: -25px;
      bottom: 0px;

      width: 16px;
      height: 16px;

      position: absolute;
      border: 1px solid #ddd;

      z-index: 999;

      background-color: #fff;

      &:hover {
        border: 1px solid #bbb;
        background-color: opacify($workflow-selection-color, 1);
      }
    }

    .input-add-button, .output-add-button, .delete-button {
      &:before {
        content: "";
        width:   8px;
        height:  2px;
        left:    4px;
        top:     7px;

        position: absolute;

        background-color: #bbb;
      }

      &:after {
        content: "";
        width:   2px;
        height:  8px;
        left:    7px;
        top:     4px;

        position: absolute;

        background-color: #bbb;
      }

      &:hover {
        &:before {
          background-color: white;
        }

        &:after {
          background-color: white;
        }
      }
    }

    .output-add-button {
      left: initial;
      right: -25px;
    }

    .delete-button {
      transform: rotate(45deg);
      left: calc(50% - 10px);
      top: -24px;

      &:after, &:before {
        background-color: hsla(0, 100%, 71%, 1);
      }

      &:hover {
        background-color: #fcc;

        &:after, &:before {
        }
      }
    }

    .bottom-button {
      top: calc(100% + 24px - 16px);

      &.one {
        &.of-one {
          left: calc(50% - 10px);
        }
        &.of-two {
          left: calc(35% - 10px);
        }
        &.of-three {
          left: calc(25% - 10px);
        }
        &.of-four {
          left: calc(14% - 10px);
        }
      }
      &.two {
        &.of-two {
          left: calc(65% - 10px);
        }
        &.of-three {
          left: calc(50% - 10px);
        }
        &.of-four {
          left: calc(38% - 10px);
        }
      }
      &.three {
        &.of-three {
          left: calc(75% - 10px);
        }
        &.of-four {
          left: calc(62% - 10px);
        }
      }
      &.four {
        &.of-four {
          left: calc(86% - 10px);
        }
      }
    }

    .view-button, .configure-button {
      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        filter: grayscale(1.0);
      }

      &:hover {
        &:before {
          filter: brightness(5.0);
        }
      }
    }

    .view-button {
      &:before {
        background-image: url("/images/icons/search.svg");
      }
    }

    .configure-button {
      &:before {
        background-image: url("/images/configuration.png");
      }
    }

    li.connection {
      position: absolute;
      display: block;

      line-height: 1em;

      width: 90px;
      height: 90px;
      
      border: 1px solid #ddd;
      border-left-width: 3px;
      border-left-color: #bbb;
      border-right-width: 3px;
      border-right-color: #bbb;
      border-radius: 5px;
      text-align: center;
          
      z-index: 999;
      
      background-color: white;
      
      cursor: pointer;

      &.dummy {
        .attach-button {
          display: none !important;
        }
      }

      &.viewing {
        z-index: 99999 !important;

        .input-add-button, .output-add-button, .delete-button, .bottom-button {
          display: inline-block;
        }
      }

      &.pre-selected {
        box-shadow: 0px 0px 10px 2px #eee;
      }

      &.selected {
        border-color: $workflow-node-selected-border-color;
        box-shadow: 0px 0px 10px 2px #eee;
      }
      
      .output, .input {
        .label {
          span.name {
            color: $workflow-label-name-color;
          }

          span.type {
            color: $workflow-label-type-color;
          }

          &.revealed {
            display: inline-block !important;
          }
        }
      }
      
      padding: 5px;
      
      > .icon {
        width: 50px;
        background-size: 40px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 50px;
        display: inline-block;
        text-align: center;
      }
      
      > span.name {
        display: inline-block;
        font: $workflow-label-name-font;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1em;
      }
      
      > span.type {
        line-height: 1em;
        display: inline-block;
        font: $workflow-label-type-font;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      ul.inputs {
        padding: 0;
        margin:  0;
        list-style-type: none;
          
        div {
          display: none;
        }
        
        li.input {
          padding: 0;
          margin:  0;
          display: block;
          position: absolute;
          right: 103px;
          width: 100px;
          height: 30px;
          
          text-align: right;
          
          z-index: 99;
          
          > .label {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: -30px;
            white-space: nowrap;
            z-index: 999;
          }
            
          > .label > .name {
            display: block;
            padding-right: 10px;
            font: $workflow-input-name-font;
          }

          > .label > .type {
            display: block;
            padding-right: 10px;
            font: $workflow-input-type-font;
          }

          &.selected {
            z-index: 9999999;
          }
          
          &.disconnected {
            border-bottom: 1px solid $workflow-line-color;

            .label {
              bottom: 4px;
            }

            &:before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 11px;
              background-color: $workflow-wire-node-color;
              border: 1px solid $workflow-wire-node-border-color;
              position: absolute;
              left: -14px;
              bottom:  -5px;
            }
            &:after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 11px;
              border: 1px solid $workflow-wire-node-accent-color;
              background-color: transparent;
              position: absolute;
              left: -17px;
              bottom:  -8px;
            }

            &.selected {
              &:before {
                background-color: $workflow-wire-selected-node-color;
                border: 1px solid $workflow-wire-selected-node-border-color;
              }
              &:after {
                border: 1px solid $workflow-wire-selected-node-accent-color;
                box-shadow: 0px 0px 6px 0px $workflow-wire-selected-node-highlight-color;
              }
            }
          }

          &:not(.disconnected) {
            .delete-button, .attach-button {
              display: inline-block;
            }
          }
          
          position: absolute;
        }
      }
      
      ul.outputs {
        padding: 0;
        margin:  0;
        list-style-type: none;

        li.output {
          padding: 0;
          margin:  0;
          display: block;
          position: absolute;
          left: 103px;
          width: 30px;
          
          text-align: left;
          
          .label {
            display: inline-block;
            position: absolute;
            bottom: 3px;
            left:   0px;
            white-space: nowrap;
            z-index: 999;
          }
            
          > .label > .name {
            display: block;
            padding-left: 10px;
            font: $workflow-input-name-font;
          }

          > .label > .type {   
            display: block;         
            padding-left: 10px;
            font: $workflow-input-type-font;
            color: #398282;
          }

          &.selected {
            z-index: 9999999;
          }
          
          &.disconnected {
            border-top: 1px solid $workflow-line-color;

            .label {
              bottom: 4px;
            }

            &:before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 11px;
              background-color: $workflow-wire-node-color;
              border: 1px solid $workflow-wire-node-border-color;
              position: absolute;
              right: -14px;
              bottom:  -5px;
            }
            &:after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 11px;
              border: 1px solid $workflow-wire-node-accent-color;
              background-color: transparent;
              position: absolute;
              right: -17px;
              bottom:  -8px;
            }

            &.selected {
              &:before {
                background-color: $workflow-wire-selected-node-color;
                border: 1px solid $workflow-wire-selected-node-border-color;
              }
              &:after {
                border: 1px solid $workflow-wire-selected-node-accent-color;
                box-shadow: 0px 0px 6px 0px $workflow-wire-selected-node-highlight-color;
              }
            }
          }

          &:not(.disconnected) {
            .delete-button, .attach-button {
              display: inline-block;
            }
          }

          position: absolute;
        }
      }
    }
  }
}
