.card
  .test-viewer.centered
    - if group
      - if group.describes.any?
        %ul.test-groups.test-describes
          - group.describes.each do |key, group|
            = partial(:"tests/group", :locals => {:group => group, :depth => 1})
