- if not defined?(editable)
  - editable = false

%occam-workflow{:class => editable ? "editable" : false}
  - if editable
    = partial(:"workflows/sidebar", :locals => {})
    = partial(:"workflows/workflow_sidebar", :locals => {})

  %ul.connections
