-# This partial renders the sidebar area of the workflow editor.
-# The sidebar gives better support for adding objects to the workflow
-# and manipulating existing objects.

-# Locals: None

.sidebar{:hidden => true}
  .object-selection
    -# "Select Object"
    %h2
      = I18n.t('object-selection.selectObject')

    -# Object selection auto-completes
    %form.widget-selection{:name => "widget-selection"}
      .by-type
        %h3
          = I18n.t('object-selection.filter.type')
        %p
          %input.auto-complete.object-type{:autocomplete => "off",
                                           :name         => "type",
                                           :placeholder  => I18n.t('fields.placeholders.filterByType'),
                                           :value        => ""}

      %h3
        = I18n.t('object-selection.filter.name')
      %input{:type   => :hidden,
             :hidden => true,
             :name   => "object-id",
             :value  => ""}
      %input.auto-complete{:autocomplete => "off",
                           :name         => "name",
                           :placeholder  => I18n.t('fields.placeholders.selectObject'),
                           :value        => ""}

    .object-selected
      %ul.connections
        %li.connection.dummy
          .icon{:"data-object-type" => "simulator"}
          %span.type Foo
          %span.name Bar
          %ul.inputs
            %li.input{:"data-index" => 0}
              .label
                %span.type application/json
                %span.name DRAM Settings
            %li.input{:"data-index" => 1}
              .label
                %span.type application/json
                %span.name DRAM Settings
          %ul.outputs
            %li.output{:"data-index" => 0}
              .label
                %span.type application/json
                %span.name DRAM Settings
    -# "Workflow Templates"
    %h2
      Workflow Templates
      -#= I18n.t('object-selection.recentlyUsed')

    -# "Recently Used Objects"
    %h2
      = I18n.t('object-selection.recentlyUsed')

    - if current_person && current_person.recentlyUsedObjects.any?
      %ul.object-list.recently-used
        - current_person.recentlyUsedObjects.each do |object|
          %li.object
            %h2.large-icon{:class => object.typeClass}
              #{object.type}
            %p
              #{object.name}
            %input{:type  => :hidden,
                   :name  => "object-id",
                   :value => object.uid}
            %input{:type  => :hidden,
                   :name  => "object-revision",
                   :value => object.revision}
    - elsif current_person
      %p
        -# "None"
        = I18n.t('common.none')
    - else
      %p
        -# "Log in"
        = I18n.t('common.noSession')

-# The arrow to collapse the sidebar
.collapse.reveal
