!!!
%html
  %head
    = partial(:head)
    %title
      - title = yield_content :title
      - if title.length > 0
        #{title} -
      OCCAM
  %body
    = partial(:topbar)
    .content
      = find_and_preserve do
        = yield
    .modal-window{:"aria-role" => "dialog", :role => "dialog", :tabindex => "-1", :"aria-labeledby" => "modalLabel"}
      .loading
      .content
      .close
    = partial(:footer)
    = partial(:scripts)
