.card.filled.min-height
  - if person.bookmarks.empty?
    .none
      .none-icon{:"data-none-category" => "bookmarks"}
      %p
        #{I18n.t("common.noBookmarks")}

  %ul.bookmarks
    - person.bookmarks.each do |bookmark|
      %li.bookmark
        .large-icon{:class => bookmark.target.info[:type]}<
        %a{:href => bookmark.target.url}
          #{bookmark.target.info[:name]}
