%h1.person
  .statistics<>
    %ul.roles<>
      - if person.account
        - person.account.roles.each do |role|
          %li{:class => role}<>
            #{role}
  .large-icon.person<
    %img.avatar{:src => person.avatar_url(96)}
  .type<
    #{" "}
  .name<
    = person.info[:name]
  .organization<
    = person.info[:organization]
.bar
