%h2.offscreen
  = I18n.t 'tabs.memberships'

-# List the Person objects that are members of this one
- [:members, :memberOf].each do |section|
  = header(:id   => section,
           :text => I18n.t("subheaders.#{section}"))

  %ul.centered{:class => section}
    %li.member
    - person.method(section).call.each do |member|
      = partial(:"people/memberships/row", :locals => {:person => person,
                                                       :member => member})

  - if section == :members
    .add.centered
      .warning{:hidden => true}
        .person-already-exists{:hidden => true}
          Person already exists.
        .delete
      .loading{:hidden => true}
      -# The form to add a new person (which is generally hidden)
      %form.inline{:action => person.url(:path => "members", :full => true), :method => :post, :hidden => !(params["add"] == section.to_s)}
        %input.auto-complete{:autocomplete       => "off",
                             :"data-object-type" => "person",
                             :value              => "",
                             :placeholder        => I18n.t('fields.placeholders.username'),
                             :name               => "person"}
        %input.button{:type  => :submit,
                      :value => "Add",
                      :name  => :submit}
      - if params["add"] != section.to_s
        %a.add-person{:href => person.url(:path => "memberships?add=#{section}", :query => {:add => section})}
          Add

-# If this Person is logged in, allow them to create new organizations
- if current_person and current_person.uuid == person.uuid
  %table.directory.information
    %tr.header
      %td{:colspan => "999"}
        = I18n.t 'fields.addNewGroup'
    %tr.row.add
      %td{:colspan => "999"}
        %form{:action => "/people", :method => :post}
          %select.selector{:name => "subtype"}>
            %option{:"data-icon" => 'person',
                    :"data-i18n" => I18n.t('objectTypes.organization')}>
              organization
          %input{:value       => "",
                 :placeholder => I18n.t('fields.placeholders.name'),
                 :name        => "username"}
          %input.button{:value => I18n.t('fields.add'),
                        :type  => :submit,
                        :name  => "newGroup"}

