.card.filled
  %h2
    = I18n.t 'subheaders.publicKey'

  %ul.tabs.bubble
    %li.tab.active
      %a
        SSH
    %li.tab
      %a
        SSH2
    %li.tab
      %a
        PEM

  %ul.tab-panels
    %li.tab-panel.active
      %pre.wrap
        = preserve do
          :escaped
            #{person.ssh_public_key}

    %li.tab-panel
      %pre
        = preserve do
          :escaped
            #{person.ssh2_public_key}

    %li.tab-panel
      %pre
        = preserve do
          :escaped
            #{person.public_key}
