.card.min-height.filled
  - if object.info[:type] == 'workset' && !reviewing
    - workset = object
    .authors.section.centered
      %h2.authors.icon
        = I18n.t 'subsubheaders.authors'
      %ul.people.authors>
        - workset.authorships.each do |authorship|
          %li>
            - person = authorship.person
            - if person
              %img.avatar{:src => person.avatar_url(24)}>
              %a{:href => "/people/#{person.uuid}"}>#{person.info[:name]}
            - else
              %img.avatar{:src => Occam::Person.default_avatar(24)}>
              #{authorship.info[:name]}
            - if workset.canEdit?
              %form.inline{:action => object.url(:path => "authorships/#{authorship.person.uuid}", :full => true),
                           :method => :post}
                %input{:type  => :hidden,
                       :value => 'delete',
                       :name  => :_method}
                %input{:type  => :hidden,
                       :value => 'author',
                       :name  => :role}
                %input.link{:type  => :submit,
                            :value => I18n.t('fields.remove'),
                            :name  => :delete}
        - if workset.canEdit?
          %form{:action => object.url(:path => "authorships", :full => true), :method => :post}
            %li.new>
              %input.auto-complete{:autocomplete       => "off",
                                   :"data-object-type" => "person",
                                   :value              => "",
                                   :placeholder        => I18n.t('fields.placeholders.username'),
                                   :name               => "username"}
              %input{:type  => :hidden,
                     :value => 'author',
                     :name  => :role}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
    .collaborators.section.centered
      %h2.collaborators.icon
        = I18n.t 'subsubheaders.collaborators'
      %ul.people.collaborators>
        - workset.collaboratorships.each do |collaboratorship|
          %li>
            - person = collaboratorship.person
            - if person
              %img.avatar{:src => person.avatar_url(24)}>
              %a{:href => "/people/#{person.uuid}"}>#{person.info[:name]}
            - else
              %img.avatar{:src => Occam::Person.default_avatar(24)}>
              #{collaboratorship.name}
            - if workset.canEdit?
              %form.inline{:action => object.url(:path => "authorships/#{collaboratorship.person.uuid}", :full => true),
                           :method => :post}
                %input{:type  => :hidden,
                       :value => 'delete',
                       :name  => :_method}
                %input{:type  => :hidden,
                       :value => 'collaborator',
                       :name  => :role}
                %input.link{:type  => :submit,
                            :value => I18n.t('fields.remove'),
                            :name  => :delete}
        - if workset.canEdit?
          %form{:action => object.url(:path => "authorships", :full => true), :method => :post}
            %li.new>
              %input.auto-complete{:autocomplete       => "off",
                                   :"data-object-type" => "person",
                                   :value              => "",
                                   :placeholder        => I18n.t('fields.placeholders.username'),
                                   :name               => "username"}
              %input{:type  => :hidden,
                     :value => 'collaborator',
                     :name  => :role}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
  = header(:id     => :directory,
           :text   => I18n.t('subheaders.directory'),
           :reveal => object.contents.empty?,
           :help   => object.canEdit? ? I18n.t('help.directory') : nil)

  %table.directory.information
    - object.contents.each_with_index do |contained, itemIndex|
      %tr.row
        %td.expand.icon{:"data-object-type" => contained.info[:type]}
        %td.name
          %a{:href => contained.url}
            #{contained.info[:name]}
        - if object.canEdit?
          %td.actions{:style => "width: 1%"}
            %form.inline{:action => object.url(:path => "contents/#{itemIndex}"), :method => :post}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.delete.link{:type => :submit, :value => 'delete', :name => :delete}

    - if object.canEdit?
      %table.directory.information
        %tr.header
          %td{:colspan => "999"}
            = I18n.t 'fields.addNewObject'
        %tr.row.add
          %td{:colspan => "999"}
            %form{:action => object.url(:path => "objects"), :method => :post}
              %select.selector{:name => "type"}>
                %option{:"data-icon" => 'experiment',
                        :"data-i18n" => I18n.t('objectTypes.experiment')}>
                  experiment
                %option{:"data-icon" => 'group',
                        :"data-i18n" => I18n.t('objectTypes.group')}>
                  group
                -#%option{:"data-icon" => 'paper',
                        :"data-i18n" => I18n.t('objectTypes.paper')}>
                  paper
                %option{:"data-icon" => 'volume',
                        :"data-i18n" => I18n.t('objectTypes.volume')}>
                  volume
                %option{:"data-icon" => 'object',
                        :"data-i18n" => I18n.t('objectTypes.object')}>
                  object
              %input{:value       => "",
                     :placeholder => I18n.t('fields.placeholders.name'),
                     :name        => "name"}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
