.card.filled
  %h2
    #{I18n.t 'subheaders.listing'} #{object.path || "/"}
  = partial(:"objects/filelist", :locals => {:object  => object,
                                             :layout  => layout,
                                             :links   => true,
                                             :workset => workset})
