= partial :"objects/directory", :locals => {:fileInfo => fileInfo,
                                            :object   => object,
                                            :layout   => layout,
                                            :workset  => workset}

- if object.path && object.isImage?(object.path)
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{object.mimeType(object.path)})

    .img.centered
      %img{:src => object.url(:path => "raw/#{object.path}")}
- elsif object.path && object.isText?(object.path)
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{object.fileType(path)})

    %pre.line-numbers<>
      - for line in object.retrieveFile(object.path).lines()
        %span.line<>
          %span.line-number<>
          -# Ensure the whitespace is preserved.
          -# And that any weirdness is escaped out.
          %code
            :escaped
              #{line.chomp}
- elsif object.path && !object.isGroup?(object.path)
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{object.fileType(path)})

    %p.download
      %a.download{:href => object.url(:path => "raw/#{path}")}
        = I18n.t 'common.download'

-# Is there a viewer??
-views_type, views_subtype = data_mime_type.split("/")
-viewer = Occam::Object.associationFor({:type    => views_type,
                                        :subtype => views_subtype})
-if viewer
  = partial(:"objects/viewer", :locals => {:viewerObject => viewer.object,
                                           :view         => "full",
                                           :file         => object.path,
                                           :object       => object,
                                           :viewers      => [viewer.object]})
