- links = false if not defined?(links)
- checkboxes = false if not defined?(checkboxes)
- form_prefix = "" if not defined?(form_prefix)
- selected_paths = [] if not defined?(selected_paths)
- files = nil if not defined?(files)
- header = nil if not defined?(header)

%table.directory.information{:class => files.nil? ? "" : "input-sets"}
  - if not files.nil?
    %tr.row.header{:hidden => true}
      %td{:colspan => "999"}
        = I18n.t('subheaders.inputSet')
    - files.each_with_index do |paths, group_index|
      - group_base64_id = Base64.urlsafe_encode64(group_index.to_s)
      - group_base64_id.chomp!('=')
      - group_base64_id.chomp!('=')
      - group_base64_id.chomp!('=')
      %tr.row.header
        %td{:colspan => "999"}
          - name = "to_#{form_prefix}[#{group_base64_id}]"
          %input{:type => :hidden, :name => name, :value => "false"}
          %input.checkbox{:type => :checkbox, :name => name, :checked => false}
          %span.name
            = I18n.t('subheaders.inputSet') % group_index.to_s
      - paths.each do |file_path|
        %tr.row.file{:class => [object.fileType(file_path).split('/').map{|type| "mime-#{type}"}.join(' ')]}
          - if checkboxes
            %td.checkbox
              - base64_id = Base64.urlsafe_encode64(file_path)
              - base64_id.chomp!('=')
              - base64_id.chomp!('=')
              - base64_id.chomp!('=')
              - name = "in_#{form_prefix}[#{group_base64_id}][#{base64_id}]"
              %input{:type => :hidden, :name => name, :value => "false"}
              %input.checkbox{:type => :checkbox, :name => name, :checked => true}
          %td.name
            #{file_path}
    %tr.row.header
      %td{:colspan => "999"}
        - base64_id = Base64.urlsafe_encode64(files.length.to_s)
        - base64_id.chomp!('=')
        - base64_id.chomp!('=')
        - base64_id.chomp!('=')
        - name = "to_#{form_prefix}[#{base64_id}]"
        %input{:type => :hidden, :name => name, :value => "false"}
        %input.checkbox{:type => :checkbox, :name => name, :checked => false}
        %span.name
          = I18n.t('subheaders.newInputSet')
  - else
    - if header
      %tr.row.header
        %td{:colspan => "999"}
          %span.name
            #{header}
    -# Add link to parent directory (..)
    - unless object.path.nil? || object.path == "" || object.path == "/"
      %tr.row.group
        %td.size
        %td.name{:colspan => "999"}
          - if links
            - if object.path && object.path.include?('/')
              %a{:href => object.url(:path => "files/#{object.path}/..")}
                \..
            - else
              %a{:href => object.url(:path => "files")}
                \..
          - else
            \..
    - object.eachFile(object.path, :order => :group, :all => true) do |info|
      %tr.row{:class => [(info[:type] == "tree" ? "group" : "file"), object.fileType(info[:name]).split('/').map{|type| "mime-#{type}"}.join(' ')]}
        - if checkboxes
          %td.checkbox
            - if info[:type] != "tree"
              - file_path = "#{object.path && object.path.length > 1 ? "#{object.path}/" : ""}#{info[:name]}"
              - base64_id = Base64.urlsafe_encode64(file_path)
              - base64_id.chomp!('=')
              - base64_id.chomp!('=')
              - base64_id.chomp!('=')
              - name = "#{form_prefix}[#{base64_id}]"
              %input{:type => :hidden, :name => name, :value => "false"}
              %input.checkbox{:type => :checkbox, :name => name, :checked => false}
        %td.size
          #{info[:size]}
        %td.name
          - if links
            %a{:href => object.url(:path => "files/#{object.path && object.path.length > 1 ? "#{object.path}/" : ""}#{info[:name]}", :full => true)}<>
              #{info[:name]}
          - else
            #{info[:name]}
          - if info[:from]
            %span.revision
              @#{info[:from][:revision]}
        - if links
          %td.actions
            - if info[:type] != "tree"
              %a{:href => object.url(:path => "raw/#{object.path && object.path.length > 1 ? "#{object.path}/" : ""}#{info[:name]}", :full => true)}
                = I18n.t 'common.download'
    - (object.info[:install] || []).each do |install|
      - if install['type'] == "file" || install['type'] == "application/zip"
        %tr.row.file{:class => [object.fileType(install[:to]).split('/').map{|type| "mime-#{type}"}.join(' ')]}
          %td.size
          %td.name
            - if links
              %a{:href => "/objects/#{install['id']}/#{install['revision']}/files"}<
                #{install['to'] || 'package'}
            - else
              #{install['to'] || 'package'}
            %span.revision
              @#{install['revision']}
          %td.actions
        - if install['type'] == "application/zip" && install['actions'].is_a?(Hash) && (install['actions'] || {}).has_key?('unpack')
          - resourceObject = Occam::Object.where(:uid => install['id']).first
          - if resourceObject
            - resourceObject.revision = install['revision']
            - resourceObject.eachFile(object.path, :order => :group) do |info|
              %tr.row{:class => [(info[:type] == "tree" ? "group" : "file"), resourceObject.fileType(info[:name]).split('/').map{|type| "mime-#{type}"}.join(' ')]}
                %td.size
                  #{info[:size]}
                %td.name
                  - if links
                    %a{:href => resourceObject.url(:path => "files/#{object.path && object.path.length > 1 ? "#{object.path}/" : ""}#{info[:name]}", :full => true)}
                      #{info[:name]}
                  - else
                    #{info[:name]}
                  %span.revision
                    @#{install['revision']}
                - if links
                  %td.actions
                    - if info[:type] != "tree"
                      %a{:href => resourceObject.url(:path => "raw/#{object.path && object.path.length > 1 ? "#{object.path}/" : ""}#{info[:name]}", :full => true)}
                        = I18n.t 'common.download'
    -# Add file resources
    - if defined?(workset) and workset and workset.can_edit?(current_person)
      - if object.fileIsGroup?(object.path)
        %table.directory.information
          %tr.header
            %td{:colspan => "999"}
              = I18n.t 'fields.addFiles'
          %tr.row.add.group
            %td{:colspan => "999"}
              %span.input
                %form{:action => object.url(:path => "/files/#{object.path}", :full => true), :method => :post}
                  %input{:type => :input, :name => "directory_name"}
                  %input.button{:type => :submit, :value => I18n.t('fields.addNewGroup')}
          %tr.row.add.upload
            %td{:colspan => "999"}
              %span.input
                %form{:action => object.url(:path => "/files/#{object.path}", :full => true), :method => :post, :enctype=>"multipart/form-data"}
                  %input.file{:type => :file, :name => 'files[]', :multiple => true}
                  %input.button{:type => :submit, :value => I18n.t('common.upload')}
