-# Renders the top header for the page given information about the object.
-#
-# Locals:
-#   name         - The name of the object.
-#   type         - The type of the object.
-#   group        - When defined, the group that this object belongs to.
-#   workset      - When defined, the workset that this object belongs to.
-#   head_view    - When defined, and true, omits the revision from urls.
-#   organization - When defined, describes the organization for this object.
-#   description  - When defined, the markdown for the object description.
-#   tags         - When defined, an array of strings representing tags.

- workset = nil
- revision = object.revision

- if !defined?(reviewing)
  - reviewing = false

- if !defined?(embedded)
  - embedded = false

- if !defined?(show_actions)
  - show_actions = true

%h1{:class => [direction(object.info[:name]) == :rtl ? "rtl" : "ltr"], :"data-object-type" => object.info[:type], :class => (embedded ? "hidden" : "")}
  .pjax-progress
  .saving.flash{:hidden => true}
    = partial :spinner, :locals => {:klass => "light"}
    = I18n.t "flash.saving"
  .error.flash{:hidden => true}
    = I18n.t "flash.error"
  - if show_actions
    .statistics<>
      %ul.options<>
        - if object.info[:type] == 'workset'
          - if object.canEdit?
            -#%li.visibility{:class => object.private == 1 ? "private" : "public"}<>
              %form{:action => "/worksets/#{object.uid}", :method => :post}
                %input{:type=>:hidden, :name => :private, :value => (object.private == 1 ? 0 : 1).to_s}
                - if object.private == 1
                  %input.lock.private{:type=>:submit, :value => I18n.t('information.private')}
                - else
                  %input.lock.public{:type=>:submit, :value => I18n.t('information.public')}
          -# else
            %li.disabled.visibility{:class => object.private == 1 ? "private" : "public"}<>
              %a
                - if object.private == 1
                  #{I18n.t "information.private"}
                - else
                  #{I18n.t "information.public"}
        - if (object.runnable? || object.viewer?) && (not ['workset', 'experiment', 'group', 'paper'].include?(object.info[:type]))
          - if !current_person
            - if object.trusted?
              %li.trusted<>
                %a
                  #{I18n.t "information.trusted"}
            - else
              %li.trust<>
                %a
                  #{I18n.t "information.untrusted"}
          - else
            - if current_person.trust?(object)
              %li.trusted<>
                %form{:action => "/people/#{current_person.uuid}/trust_associations/#{current_person.trustAssociationFor(object).id}", :method => :post}
                  %input{:type => :hidden, :value => 'delete', :name => :_method}
                  %input.bookmark_delete{:type=>:submit, :value => I18n.t('information.removeTrust')}
            - else
              %li.trust<>
                %form{:action => "/people/#{current_person.uuid}/trust_associations", :method => :post}
                  %input{:type=>:hidden, :name => :object_id, :value => object.uuid}
                  %input.bookmark{:type=>:submit, :value => I18n.t('information.trust')}
        - if current_person
          %li.bookmark_delete{:hidden => (!current_person.bookmarked?(object))}<>
            %form{:action => "/people/#{current_person.uuid}/bookmarks/#{object.uuid}", :method => :post}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.bookmark_delete{:type=>:submit, :value => I18n.t('information.removeBookmark')}
          %li.bookmark{:hidden => current_person.bookmarked?(object)}<>
            %form{:action => "/people/#{current_person.uuid}/bookmarks", :method => :post}
              %input{:type=>:hidden, :name => :object_id, :value => object.uuid}
              %input.bookmark{:type=>:submit, :value => I18n.t('information.bookmark')}
        - if current_person && !reviewing
          %li.fork<>
            %a.modal{:href => object.url(:path => "fork")}
              = I18n.t 'information.fork'
  - if object.parents.any?
    %nav<>
      %ul<>
        - object.parents.reverse.each do |parent|
          %li<>
            %a.icon{:"data-object-type" => parent.info[:type], :href => parent.url}<>
              #{parent.info[:name]}
          - parent = parent.parent
  .large-icon{:"aria-hidden" => "true", :"data-object-type" => object.info[:type]}<
  .type<
    %a#object-type{:href => "/search?type=#{object.info[:type]}"}<
      #{object.info[:type]}
    - if object.info.has_key? :subtype
      - subtypes = object.info[:subtype]
      - if not subtypes.is_a? Array
        - subtypes = [subtypes]
      %ul.subtypes
        - subtypes.each do |subtype|
          %li.subtype
            %span.subtype
              #{subtype}
    %ul.badges
      - if object.trusted?
        %li.badge.trusted{:title => I18n.t("badges.trusted")}
          #{I18n.t("badges.trusted")}
  .name#object-name<
    %span<
      %a{:href => object.url}<#{object.info[:name]}
  .object-root-id#object-root-id{:hidden => true}
    #{object.withinUuid}
  .object-root-id#object-root-revision{:hidden => true}
    #{object.withinRevision}
  - if object.link
    .object-link#object-link{:hidden => true}
      #{object.link}
  - if object.file
    .object-file#object-file{:hidden => true}
      #{object.file}
  - if object.path
    .object-path#object-path{:hidden => true}
      #{object.path}
  %ol.object-index#object-index{:hidden => true}
    - (object.index || []).each do |index|
      %li
        #{index}
  .object-id#object-id{:hidden => true}
    #{object.info[:id]}
  .object-revision#object-revision{:hidden => true}
    #{revision}
  - if object.info.has_key? :organization
    .organization<
      = object.info[:organization]
  - elsif object.authorships.any?
    .organization<
      = object.authorships[0..2].map(&:person).map{|p| p.info[:name]}.join(", ")
      - if object.authorships.length > 3
        et al
  - elsif object.info.has_key? :authors
    .organization<
      = object.info[:authors][0..2].map{|tag| Occam::Person.new(:uuid => tag).info[:name] if isUUID(tag)}.join(", ")
      - if object.info[:authors].length > 3
        et al
  - else
    .organization<

.bar
