- if object.info[:description]
  .card.filled
    .description.centered
      :markdown
        #{object.info[:description]}
      - if object.info[:tags] and not object.info[:tags].empty?
        %ul.tags
          - object.info[:tags].each do |tag|
            %li.tag
              %a{:href => "/objects?by_tag=#{tag}"}
                = tag
      -# if workset && workset.canEdit?
        %p.edit-profile-link
          %a.edit-profile{:href => "/worksets/#{workset.uid}/#{workset.revision}/edit"}
            = I18n.t 'common.editDescription'

- images = object.info[:images] || []
- if images.any?
  .card.filled
    %table.images
      %tr
        - if images.length > 0
          %td{:rowspan => 2, :colspan => 2}
            %a{:href => object.url(:path => "raw/#{images[0]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
              %img{:src => object.url(:path => "raw/#{images[0]}")}
        - if images.length > 1
          %td
            %a{:href => object.url(:path => "raw/#{images[1]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
              %img{:src => object.url(:path => "raw/#{images[1]}")}
      - if images.length > 2
        %tr
          %td
            %a{:href => object.url(:path => "raw/#{images[2]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
              %img{:src => object.url(:path => "raw/#{images[2]}")}
      - if images.length > 3
        %tr
          %td
            %a{:href => object.url(:path => "raw/#{images[3]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
              %img{:src => object.url(:path => "raw/#{images[3]}")}
          - if images.length > 4
            %td
              %a{:href => object.url(:path => "raw/#{images[4]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
                %img{:src => object.url(:path => "raw/#{images[4]}")}
          - if images.length > 5
            %td
              %a{:href => object.url(:path => "raw/#{images[5]}"), :"data-lightbox" => "images-#{object.info[:id]}"}
                %img{:src => object.url(:path => "raw/#{images[5]}")}

.card.filled
  = partial(:"objects/information", :locals => locals)

  - if object.includes.any?
    %h3
      = I18n.t 'subsubheaders.includes'

    = partial(:"objects/listview/list", :locals => {:objects => object.includes})

  - if object.dependencies.any?
    %h3
      = I18n.t 'subsubheaders.dependencies'

    = partial(:"objects/listview/list", :locals => {:objects => object.dependencies})

- if object.info[:related] && object.info[:related] != []
  .card.filled
    %h2
      = I18n.t 'subheaders.related'

    .information
      - object.info[:related].each do |relation|
        - obj = relation[:object]
        .object
          %h2.icon{:"data-object-type" => obj[:type]}
            #{obj[:type]}
          %p
            %a{:href => "/objects/#{obj[:id]}"}<
              #{obj[:name]}
            (#{relation[:relation]})

- if object.info[:install] && object.info[:install] != []
  .card.filled
    %h2
      = I18n.t 'subheaders.resources'

    .information
      - if object.info[:install].is_a? Hash
        - object.info[:install] = [object.info[:install]]
      - object.info[:install].each do |repo|
        .repository
          %h2.icon.repository
            #{repo[:type] or "git"}
          %p
            - if repo.has_key? :id
              - if repo.has_key? :revision
                %a{:href => "/objects/#{repo[:id]}/#{repo[:revision]}"}<
                  #{repo[:name] || "unnamed"}
              - else
                %a{:href => "/objects/#{repo[:id]}"}<
                  #{repo[:name] || "unnamed"}
            - else
              #{repo[:name]} - uninstalled

            - if repo.has_key? :source
              \- #{repo[:source]}

- if object.info[:build]
  .card.filled
    %h2
      = I18n.t 'subheaders.build'

    .information
      - [:command, :script].each do |key|
        - if object.info[:build][key]
          %div{:class => key}
            %h2.icon{:class => key}
              = I18n.t "subsubheaders.#{key.to_s}"
            %p
              #{object.info[:build][key]}

    - if object.dependencies(:build).any?
      %h3
        = I18n.t 'subsubheaders.dependencies'

      = partial(:"objects/listview/list", :locals => {:objects => object.dependencies(:build)})

- if object.info[:run]
  .card.filled
    %h2
      = I18n.t 'subheaders.run'

    .information
      - [:command, :script].each do |key|
        - if object.info[:run][key]
          %div{:class => key}
            %h2.icon{:class => key}
              = I18n.t "subsubheaders.#{key.to_s}"
            %p
              #{object.info[:run][key]}

    - if object.dependencies(:run).any?
      %h3
        = I18n.t 'subsubheaders.dependencies'

      = partial(:"objects/listview/list", :locals => {:objects => object.dependencies(:run)})
