.card.filled
  - if object.generated.empty?
    .none
      .none-icon{:"data-none-category" => "output"}
      %p
        #{I18n.t("common.noOutput")}
  - else
    = partial(:"objects/listview", :locals => {:objects => object.generated,
                                               :pagination => pagination})
