- if !defined?(label)
  - label = I18n.t('object-selection.using')

-#%ul.tab-panels.runner{:class => (defined?(separator_resize) && separator_resize) ? 'separator-resize' : ''}
  %li.tab-panel.run-form.active.fitted
  %li.tab-panel.run-log.fitted
    #run-log.log.fitted
  %li.tab-panel.run-terminal
    - if defined?(input) && !input.nil?
      .terminal#run-terminal{:"data-link-text"       => I18n.t('common.run'),
                             :tabindex               => "1",
                             :"data-terminal-type"   => "run",
                             :"data-input-id"        => input.uuid,
                             :"data-input-revision"  => input.revision,
                             :"data-object-id"       => object.uuid,
                             :"data-object-revision" => object.revision}
    - else
      .terminal#run-terminal{:"data-link-text"       => I18n.t('common.run'),
                             :"data-terminal-type"   => "run",
                             :tabindex               => "1",
                             :"data-object-id"       => object.uuid,
                             :"data-object-revision" => object.revision}
- viewing = !running && !viewer.nil? && viewer.info[:architecture] == "javascript"
.run-viewer.separator-resize
  -# Shows and hides the runlist
  .collapse.right{:class => (viewing ? "reveal" : "")}
  %nav.right-panel{:"aria-labelledby" => "run-list-heading", :"data-panel-type" => "queue"}
    %h2.sr-only#run-list-heading
      #{I18n.t("headers.runList")}
    %template.run-item
      %li
        %a{:href => "#"}
          %span.status
            .dot
            .dot
            .dot
          %span.date
    %ul.runs
      %li.queue{:class => (!viewing ? "active" : "")}
        %a{:href => "#"}
          %span.status
          %span.text
            = I18n.t('common.enqueue')
      - if object.info[:type] == "experiment" || object.info[:type] == "workflow"
        - Occam::Workflow.new(:uuid     => object.uuid,
                              :revision => object.revision,
                              :account => current_account).runs.reverse.each_with_index do |run, i|
          = partial(:"objects/run-list-item", :locals => {:run => run, :object => object})
      - if viewing
        %li{:"data-status" => "running", :"data-viewer-id" => "0", :class => "active"}
          %a{:href => "#"}
            %span.status
              .dot
              .dot
              .dot
            %span.date
              = I18n.l(DateTime.now, :format => :long)
  -# The run form is the place to queue new runs
  .pending{:hidden => true}
    .card
      .loading
      %p
        Generating tasks and queuing jobs...
  .run-vnc{:hidden => true}
    #noVNC_status_bar.noVNC_status_bar{:hidden => true}
      #noVNC_status
        Press 'Start' to request a session.
      #noVNC_buttons{:hidden => true}
        %span#noVNC_xvp_buttons
          %input#sendCtrlAltDelButton{:type => :button, :value => "CtrlAltDel"}
          %input#xvpShutdownButton{   :type => :button, :value => "Shutdown"}
          %input#xvpRebootButton{     :type => :button, :value => "Reboot"}
          %input#xvpResetButton{      :type => :button, :value => "Reset"}
          %input#pointerLockButton{   :type => :button, :value => "Pointer Lock"}

    #noVNC_container
      %input.button#stream_connect_button{:type => :button, :value => "Start"}
      %canvas#noVNC_canvas{:width =>"0", :height => "0"}
        Canvas support is required for this capability.
  .run-form{:hidden => viewing}
    .card
      .information
        - if object.info[:type] != "experiment"
          .row{:hidden => !running}
            %h2
              Phase
            %p
              %select.phase-selector.selector<
                - if object.runnable?
                  %option{:"data-class" => "run", :selected => true}<
                    run
                - if object.buildable?
                  %option{:"data-class" => "build"}<
                    build
          - if !running
            .row
              %h2
                #{label}
              %p.widget-selection
                - if defined?(input) && !input.nil? && input.uuid != viewer.uuid
                  %input.auto-complete.views-type{:name     => "views-type",
                                                  :disabled => true,
                                                  :value    => (!running ? input.info[:type] : ""),
                                                  :hidden   => true}
                  %input.auto-complete.provides-environment{:name     => "provides-environment",
                                                            :disabled => true,
                                                            :value    => (running ? input.info[:environment] : ""),
                                                            :hidden   => true}
                  %input.auto-complete.provides-architecture{:name     => "provides-architecture",
                                                             :disabled => true,
                                                             :value    => (running ? input.info[:architecture] : ""),
                                                             :hidden   => true}
                - else
                  %input.auto-complete.views-type{:name     => "views-type",
                                                  :disabled => true,
                                                  :value    => (!running ? object.info[:type] : ""),
                                                  :hidden   => true}
                  %input.auto-complete.provides-environment{:name     => "provides-environment",
                                                            :disabled => true,
                                                            :value    => (running ? object.info[:environment] : ""),
                                                            :hidden   => true}
                  %input.auto-complete.provides-architecture{:name     => "provides-architecture",
                                                             :disabled => true,
                                                             :value    => (running ? object.info[:architecture] : ""),
                                                             :hidden   => true}
                %input{:type   => :hidden,
                       :hidden => true,
                       :name   => "object-id",
                       :value  => viewer.uuid}
                %input{:type   => :hidden,
                       :hidden => true,
                       :name   => "object-revision",
                       :value  => viewer.revision}
                %input.large-icon.auto-complete{:autocomplete       => "off",
                                                :name               => "name",
                                                :placeholder        => I18n.t('fields.placeholders.selectObject'),
                                                :value              => (defined?(viewer) && viewer) ? viewer.info[:name] : "",
                                                :"data-revision"    => viewer.revision,
                                                :"data-object-type" => viewer.info[:type]}
          .row
            %h2
              Backend
            %p
              - if viewer
                - javascript = viewer.supports?("html", "javascript")
                - docker     = viewer.backends.include?("docker")
              - else
                - javascript = (running && input.canRunInBrowser?) || input.canViewInBrowser?
                - docker     = input.viewingBackends.include?("docker")
              %select.backend-selector.selector{:"data-node-type" => "occam"}<
                %option{:"data-class" => "any"}<
                  any
                %option{:"data-class" => "javascript",
                        :"data-environment" => "html",
                        :"data-architecture" => "javascript",
                        :"data-run-type" => "client",
                        :selected => javascript,
                        :hidden => !javascript}<
                  javascript (client)
                %option{:"data-class" => "docker",
                        :"data-backend" => "docker",
                        :"data-run-type" => "server",
                        :"data-capabilities" => "vnc",
                        :selected => !javascript && docker,
                        :hidden => !docker}
                  docker (server, vnc)
                - if local_request?
                  %option
                    local (native)
        .row
          %h2
            Dispatch To
          %p
            %select.dispatch-selector.selector{:"data-node-type" => "occam"}<
              %option{:"data-class" => "occam"}
                #{request.host}
              -#%option{:"data-class" => "aptlab"}
                apt
        -#.row
          %h2
            URL:
          %p
            %input{:type => :text, :name => "url", :value => "", :placeholder => "ssh://username@example.org"}

      .buttons
        - if defined?(input) && !input.nil?
          %input.start-run.button{:type => :button,
                                  :name => "run",
                                  :"data-object-id" => viewer.uuid,
                                  :"data-object-revision" => viewer.revision,
                                  :"data-input-id" => input.uuid,
                                  :"data-input-revision" => input.revision,
                                  :value => I18n.t('common.run')}
        - else
          %input.start-run.button{:type => :button,
                                  :name => "run",
                                  :"data-object-id" => object.uuid,
                                  :"data-object-revision" => object.revision,
                                  :value => I18n.t('common.run')}
  - if !viewer.nil? && viewer.info[:architecture] == "javascript"
    .viewer{:hidden => running, :"data-viewer-id" => "0"}
      .card.filled.object-viewer
        - viewer.info(true)
        - sandbox = "allow-pointer-lock allow-scripts"
        - iframeSrc = viewer.url(:path => "raw/#{viewer.info[:file]}", :full => true)

        - if !defined?(width)
          - width  = "100%"
          - height = "100%"

        - viewerSize = viewer.info[:size]

        - if !defined?(resizeToAspectRatio)
          - resizeToAspectRatio = true

        - if !defined?(height) || resizeToAspectRatio
          - if viewerSize && width.is_a?(Integer)
            - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

        - if !defined?(scale)
          - scale = 1.0

        - baseWidth = width
        - baseHeight = height

        - if width.is_a? Integer
          - baseWidth = "#{baseWidth}px"
          - width = width * scale
          - width = "#{width}px"

        - if height.is_a? Integer
          - baseHeight = "#{baseHeight}px"
          - height = height * scale
          - height = "#{height}px"
        - if !defined?(file)
          - file = nil
        - src = iframeSrc
        - if running
          - src = ""
        - if object
          %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc, :"data-input-object-id" => object.uuid, :"data-input-object-type" => object.info[:type], :"data-input-object-revision" => object.revision, :"data-input-file" => file, :"data-token" => encrypt_token}
        - else
          %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc, :"data-token" => encrypt_token}
  %template.viewer
    .viewer
      .card.filled.object-viewer
        - sandbox = "allow-pointer-lock allow-scripts"
        %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>sandbox, :"data-token" => encrypt_token}
  %template.event{:"data-type" => "port"}
    %li.event.port
      %span.scheme{:hidden => true}<
        #{request.scheme}
      %span.host{:hidden => true}<
        #{request.host}
      %p
        Port opened at
        %a{:href => "", :target => "_blank", :rel => "noopener noreferrer"}
  %template.terminal
    .job-panel
      %ul.events
      .terminal
      %iframe{:hidden => true}
  %template.workflow
    %ul.workflows{:hidden => true}
      %li
        %occam-workflow
          %ul.connections
