- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

-#.card.filled.terminal
  - if !embedded
    %h2
      = I18n.t 'subheaders.run'
      %a.help-bubble{:href => "?help=run"}
        = I18n.t 'alt-text.help'

    .help{:hidden => help != "run"}
      = render(:markdown, I18n.t('help.run'))

= partial(:"objects/viewer", :locals => {:viewerObject => preferredRunner,
                                         :label        => I18n.t('object-selection.running'),
                                         :view         => view,
                                         :object       => object,
                                         :running      => true,
                                         :viewers      => runners,
                                         :help         => defined?(help) ? help : ""})
